@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* Style for the body */
body {
    background: #f9f9f9;
}

a {
    text-decoration: none;
}

/* Style for the header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.6em;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #f9f9f9;
    border-bottom: 3px solid #a9a9a9;
}

header a {
    color: #f9f9f9;
}

/* Style for logo*/
h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

button {
    position: absolute;
    right: 1em;
    top: 0.8em;
    padding: 8px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 2em;
    background: transparent;
    color: #ffff;

    &:focus,
    &:hover {
        background-color: #ddd;
        color: #5e2235;
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid transparent(#fff, 0.4);
    padding: 1em 1em 0;

    li {
        margin-bottom: 1em;
    }

    a {
        display: block;
    }
}

/* if not JS, don't display nav bar */
.js ul {
    display: none;
}

.js button {
    display: block;
}

ul.is-active {
    display: block;
}

/* menu for mobile device  */
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }
    
    h1 {
        margin-bottom: 0.5em;
    }

    button {
        display: block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 1.5em;
    }

    li {
        display: none;
    }

    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 1em;
    }

    li {
        display: block;
        margin-bottom: 0;
        border-bottom: 1px solid #f9f9f9;
        text-align: center;
        font-size: 1.5em;
    }

    li:last-child {
        border-bottom: none;
    }

    .js ul.is-active {
        display: block;
    }

    ul {
        display: none;
    }

}
/* menu for desktop device */
@media (min-width: 701px) {
    button {
        display: none;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;

        li {
            display: inline-block;
            margin-right: 1em;
        }
    }
}

.greeting {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/* Start button style */
#start_button {
    position: absolute;
    font-size: 1.8em; /* Adjust the font size */
    color: #359381;
    cursor: pointer;
}

#start_button:hover {
    font-size: 2em; /* Adjust the font size on hover */
}

/* Button Disappearance animation */
@keyframes buttonDisappear {
    0% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0;
        width: 0; /* Set width to 0 to make it effectively disappear */
        padding: 0; /* Remove padding */
        border: none; /* Remove border */
        margin: 0; /* Remove margin */
    };
}

#start_button.clicked {
    animation: buttonDisappear 0.5s ease-in-out;
    position: relative; /* Keep it relative to its normal flow */
    overflow: hidden; /* Hide any overflow content */
}

/* Large text styling */
.large-text {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;
    justify-content: center;
    background-color: #359381; /* Background color green */
    color: #fff; /* White text color */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 20px;
    border: 2px solid #333;
    text-align: center;
    margin: 0 40px; /* Add more space on margin */
}

/* Text Appearance Animation */
@keyframes textAppear {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.large-text.appear {
    animation: textAppear 3s ease-in-out;
}